<div>
    <button mat-icon-button
            class="close-button"
            [mat-dialog-close]="true"
            (click)="onClose()">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
    <form [formGroup]="updateForm" *ngIf="!isUpdated">
        <div>
            <h1>Edit Content</h1>
        </div>
        <div class="input-container">
            <input type="string"
                   name="name"
                   formControlName="name"
                   required/>
            <label>Name</label>
        </div>

        <label>Text</label>
        <div>
            <textarea type="string"
                      name="name"
                      formControlName="text"
                      required></textarea>
        </div>
        <br>
        <div class="input-container">
            <input type="string"
                   name="name"
                   formControlName="movieUrl"
                   required/>
            <label>Movie</label>
        </div>

        <div>
            <button class="update-button-1"
                    type="submit"
                    (click)="onUpdateContent()"
                    [disabled]="updateForm.invalid">Update
            </button>
        </div>
    </form>

    <div *ngIf="isUpdated">
        <h1 class="updated">
            Your content is updated 🥰
        </h1>
    </div>

    <!--    <div *ngIf="!course.mentorsId.includes(user.id)">-->
    <!--        <small>Sorry, it's not you content ✋ </small>-->
    <!--    </div>-->

</div>

