<div class="course" *ngFor="let course of courses">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
      <th>Logo</th>
      <th>ID/Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Date start/end</th>
      <th>Mentor</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
            [src]=course.logoUrl
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"/>
        </div>
      </td>
      <div class="ms-3">
        <p class="text-muted mb-0">{{ course.id }} / {{ course.name }}</p>
      </div>
      <td>
        <p class="fw-normal mb-1">{{ course.description }}</p>
      </td>
      <td>
        <span class="badge badge-success rounded-pill d-inline">{{ course.status }}</span>
      </td>
      <p class="text-muted mb-0">{{ course.dateStart }} / {{ course.dateEnd }}</p>
      <td>{{ course.mentor }}</td>
      <td>
        <button [routerLink]="['/courses', course.id]" class="btn btn-outline-primary">View</button>
      </td>
    </tbody>
  </table>
</div>
