<div class="mat-card" *ngFor="let course of courses">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class>
          <div class="d-flex align-items-center">
            <img
              [src]=course.logoUrl
              alt=""
              style="width: 50px; height: 50px"
              class="rounded-circle"/>
          </div>
        </div>
        <mat-card-title>
          <p class="fw-normal mb-1"> ID: {{ course.id }}</p>
          <p class="fw-normal mb-1"> Name: {{ course.name }}</p>
        </mat-card-title>
        <mat-card-subtitle>
          <p class="fw-normal mb-1"> Mentor ID: {{ course.mentorsId }}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <iframe [src]="getEmbedUrl(course.movieUrl)" width="600" height="400"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <mat-card-content>
        <p class="fw-normal mb-1">{{ course.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <td>
        <button mat-button>like ❤</button>
        </td>
        <td>
          <button (click)="onUpdate(course.id, course.name, course.description, course.logoUrl, course.movieUrl, course.dateStart, course.dateEnd,
        course.status, mentor)" mat-button>edit 🔧
          </button>
        </td>
        <td>
          <button [routerLink]="['/courses', course.id]" mat-button>view 🔍</button>
        </td>
      </mat-card-actions>
    </mat-card>
  </div>
</div>












