/*.example-card {*/
/*  margin: 0 auto;*/
/*  width: 90%;*/
/*  height: 50%;*/
/*}*/
.mat-card-cvr{
  width: 100%;
  height: 26%;

  text-align:-webkit-left;
}
.example-header-image {
  width: 100%;
  text-align:center;
  background-size: cover;
}

mat-card{
  /*width: 350px;*/
  /*height: 400px;*/
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
}
