<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ title }}</h2>
            <h5 *ngIf="isAuth">
                User:
                <br>
                ID: {{ user.id}}
                <br>
                e-mail: {{ user.email }}</h5>

            <div *ngIf="!isAuth">
                <small> Please login, if you want to see or create new courses!
                    <br>
                    (Now, you can see only PUBLIC courses)
                </small>
            </div>
            <app-navbar></app-navbar>
            <mat-progress-bar mode="indeterminate" color="accent"
                              *ngIf="loadingService.isLoading | async"></mat-progress-bar>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
