<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <div class="link" *ngIf="isAuthenticated" [routerLink]="['/profile/programs']">
      Programs
    </div>
    <div class="link" *ngIf="isAuthenticated" [routerLink]="['/profile/notifications']">
      Notifications
    </div>
    <div class="link" *ngIf="isAuthenticated" [routerLink]="['/profile/students']">
      Students
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
