<div>
  <button mat-icon-button
          class="close-button"
          [mat-dialog-close]="true"
          (click)="onClose()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <form [formGroup]="updateForm" *ngIf="!isUpdated">
    <div>
      <h1>Edit Course</h1>
    </div>
    <div class="input-container">
      <input type="string"
             name="name"
             formControlName="name"
             required/>
      <label>Name</label>
    </div>

    <div class="input-container">
      <input type="string"
             name="name"
             formControlName="description"
             required/>
      <label>Description</label>
    </div>

    <div class="input-container">
      <input type="string"
             name="name"
             formControlName="logoUrl"
             required/>
      <label>Logo</label>
    </div>

    <div class="input-container">
      <input type="string"
             name="name"
             formControlName="movieUrl"
             required/>
      <label>Movie</label>
    </div>

    <div class="input-container">
      <input type="string"
             name="date"
             formControlName="dateStart"
             required/>
      <label>Date start</label>
    </div>

    <div class="input-container">
      <input type="string"
             name="date"
             formControlName="dateEnd"
             required/>
      <label>Date end</label>
    </div>

    <div class="input-container">
      <input type="string"
             name="name"
             formControlName="status"
             min="PRIVATE" max="PUBLIC" required/>
      <span class="validity"></span>
      <datalist id="defaultStatus">
        <option value="PRIVATE">
        <option value="PUBLIC">
      </datalist>
      <small *ngIf="status!.invalid && status!.touched">Please, enter a valid STATUS</small>
      <br>
      <a>Status (PRIVATE/PUBLIC)</a>
    </div>

    <div>
      <button class="update-button-1"
              type="submit"
              (click)="onUpdate()"
              [disabled]="updateForm.invalid">Update
      </button>
    </div>
  </form>

  <div *ngIf="isUpdated">
    <h1 class="updated">
      Your course is updated 🥰
    </h1>
  </div>

  <div *ngIf="!course.mentorsId.includes(user.id)">
    <small>Sorry, it's not you course ✋ </small>
  </div>

</div>

